- 使用tushare包获取某股票的历史行情数据
- 输出该股票所有收盘比开盘上涨3%以上的日期
- 输出该股票所有开盘比前日收盘跌幅超过2%的日期
- 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何?

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

import tushare as ts

In [3]:
# 使用tushare包获取某股票的历史行情数据
df = ts.get_k_data(code='600519', start='2001')
df

            date      open     close      high       low     volume    code
0     2001-08-27     5.392     5.554     5.902     5.132  406318.00  600519
1     2001-08-28     5.467     5.759     5.781     5.407  129647.79  600519
2     2001-08-29     5.777     5.684     5.781     5.640   53252.75  600519
3     2001-08-30     5.668     5.796     5.860     5.624   48013.06  600519
4     2001-08-31     5.804     5.782     5.877     5.749   23231.48  600519
...          ...       ...       ...       ...       ...        ...     ...
4321  2019-10-14  1186.000  1180.000  1187.660  1170.000   27187.00  600519
4322  2019-10-15  1180.000  1211.000  1215.680  1177.030   40034.00  600519
4323  2019-10-16  1168.000  1170.000  1187.500  1160.000   59150.00  600519
4324  2019-10-17  1176.000  1183.330  1186.660  1162.500   30508.00  600519
4325  2019-10-18  1179.000  1175.790  1189.990  1171.690   28291.00  600519

[4326 rows x 7 columns]

In [4]:
df.to_csv('./maotai.csv')

In [6]:
# 将date列的数据转成时间序列，然后将该列作为整个数据源的行索引
data = pd.read_csv('./maotai.csv', index_col='date', parse_dates=['date'])
data.drop(labels="Unnamed: 0", axis=1, inplace=True)  # inplace=True表示将修改后的数据作用回原表
data

                open     close      high       low     volume    code
date
2001-08-27     5.392     5.554     5.902     5.132  406318.00  600519
2001-08-28     5.467     5.759     5.781     5.407  129647.79  600519
2001-08-29     5.777     5.684     5.781     5.640   53252.75  600519
2001-08-30     5.668     5.796     5.860     5.624   48013.06  600519
2001-08-31     5.804     5.782     5.877     5.749   23231.48  600519
...              ...       ...       ...       ...        ...     ...
2019-10-14  1186.000  1180.000  1187.660  1170.000   27187.00  600519
2019-10-15  1180.000  1211.000  1215.680  1177.030   40034.00  600519
2019-10-16  1168.000  1170.000  1187.500  1160.000   59150.00  600519
2019-10-17  1176.000  1183.330  1186.660  1162.500   30508.00  600519
2019-10-18  1179.000  1175.790  1189.990  1171.690   28291.00  600519

[4326 rows x 6 columns]

In [7]:
data.index[0]

Timestamp('2001-08-27 00:00:00')

In [10]:
(data['close'] -  data['open'])/data['open'] > 0.03

date
2001-08-27     True
2001-08-28     True
2001-08-29    False
2001-08-30    False
2001-08-31    False
              ...
2019-10-14    False
2019-10-15    False
2019-10-16    False
2019-10-17    False
2019-10-18    False
Length: 4326, dtype: bool

In [12]:
# 输出该股票所有收盘比开盘上涨3%以上的日期
# (收盘价-开盘价)/开盘价 > 0.03
indexs = (data['close'] -  data['open'])/data['open'] > 0.03
data.loc[indexs].index

DatetimeIndex(['2001-08-27', '2001-08-28', '2001-09-10', '2001-12-21',
               '2002-01-18', '2002-01-31', '2003-01-14', '2003-10-29',
               '2004-01-05', '2004-01-14',
               ...
               '2019-03-01', '2019-03-18', '2019-04-10', '2019-04-16',
               '2019-05-10', '2019-05-15', '2019-06-11', '2019-06-20',
               '2019-09-12', '2019-09-18'],
              dtype='datetime64[ns]', name='date', length=303, freq=None)

In [13]:
data['close']

date
2001-08-27       5.554
2001-08-28       5.759
2001-08-29       5.684
2001-08-30       5.796
2001-08-31       5.782
                ...
2019-10-14    1180.000
2019-10-15    1211.000
2019-10-16    1170.000
2019-10-17    1183.330
2019-10-18    1175.790
Name: close, Length: 4326, dtype: float64

In [14]:
data['close'].shift(1)

date
2001-08-27         NaN
2001-08-28       5.554
2001-08-29       5.759
2001-08-30       5.684
2001-08-31       5.796
                ...
2019-10-14    1174.600
2019-10-15    1180.000
2019-10-16    1211.000
2019-10-17    1170.000
2019-10-18    1183.330
Name: close, Length: 4326, dtype: float64

In [17]:
# 输出该股票所有开盘比前日收盘跌幅超过2%的日期
indexs = (data['open'] - data['close'].shift(1)) / data['close'].shift(1) < -0.02
data.loc[indexs].index

DatetimeIndex(['2001-09-12', '2002-06-26', '2002-12-13', '2004-07-01',
               '2004-10-29', '2006-08-21', '2006-08-23', '2007-01-25',
               '2007-02-01', '2007-02-06', '2007-03-19', '2007-05-21',
               '2007-05-30', '2007-06-05', '2007-07-27', '2007-09-05',
               '2007-09-10', '2008-03-13', '2008-03-17', '2008-03-25',
               '2008-03-27', '2008-04-22', '2008-04-23', '2008-04-29',
               '2008-05-13', '2008-06-10', '2008-06-13', '2008-06-24',
               '2008-06-27', '2008-08-11', '2008-08-19', '2008-09-23',
               '2008-10-10', '2008-10-15', '2008-10-16', '2008-10-20',
               '2008-10-23', '2008-10-27', '2008-11-06', '2008-11-12',
               '2008-11-20', '2008-11-21', '2008-12-02', '2009-02-27',
               '2009-03-25', '2009-08-13', '2010-04-26', '2010-04-30',
               '2011-08-05', '2012-03-27', '2012-08-10', '2012-11-22',
               '2012-12-04', '2012-12-24', '2013-01-16', '2013-01-25',
               '2013-09-02', '2014-04-25', '2015-01-19', '2015-05-25',
               '2015-07-03', '2015-07-08', '2015-07-13', '2015-08-24',
               '2015-09-02', '2015-09-15', '2017-11-17', '2018-02-06',
               '2018-02-09', '2018-03-23', '2018-03-28', '2018-07-11',
               '2018-10-11', '2018-10-24', '2018-10-25', '2018-10-29',
               '2018-10-30', '2019-05-06', '2019-05-08', '2019-10-16'],
              dtype='datetime64[ns]', name='date', freq=None)

In [9]:
# 假如我从2010年1月1日开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何?

In [4]:
# 找出每年的第一个交易日对应的行数据(数据的重新取样)

In [35]:
df = ts.get_k_data(code='600159', start='2010', end='2019')
df.to_csv('贵州茅台.csv')

In [41]:
data = pd.read_csv('./贵州茅台.csv', index_col='date', parse_dates=['date']).drop(labels="Unnamed: 0", axis=1)
data

              open   close    high     low     volume    code
date
2010-01-04   8.776   9.014   9.227   8.776  103212.07  600159
2010-01-05   9.004   8.946   9.116   8.732   62011.59  600159
2010-01-06   8.917   9.305   9.576   8.800  126523.53  600159
2010-01-07   9.145   9.188   9.402   9.019   91887.24  600159
2010-01-08   9.159   9.285   9.343   8.960   58919.87  600159
2010-01-11   9.295   8.912   9.358   8.728   80804.62  600159
2010-01-12   8.868   9.213   9.334   8.796   74142.36  600159
2010-01-13   9.009   8.732   9.009   8.582   86259.30  600159
2010-01-14   8.655   8.985   9.048   8.655   51874.23  600159
2010-01-15   9.193   9.576   9.862   9.183  147563.82  600159
2010-01-18   9.688  10.536  10.536   9.605  293509.43  600159
2010-01-19  10.614  10.619  10.837  10.187  175841.45  600159
2010-01-20  10.609  10.328  10.842  10.124  165325.79  600159
2010-01-21  10.473  10.565  10.958  10.308  186366.28  600159
2010-01-22  10.376   9.712  10.376   9.508  199982.21  600159
2010-01-25   9.455   9.843   9.911   9.057  181570.29  600159
2010-01-26   9.688   9.421   9.838   8.922  247603.62  600159
2010-01-27   9.465   8.859   9.596   8.500  362479.02  600159
2010-01-28   8.825   8.922   9.402   8.548  468800.47  600159
2010-01-29   8.631   8.296   8.892   8.243  381697.77  600159
2010-02-02   7.467   7.467   7.782   7.467  537791.10  600159
2010-02-03   7.181   7.152   7.225   6.808  410503.00  600159
2010-02-04   7.031   7.176   7.360   6.963  349313.39  600159
2010-02-05   7.011   6.885   7.074   6.749  215042.08  600159
2010-02-08   6.924   7.074   7.103   6.885  160423.03  600159
2010-02-09   7.006   6.992   7.065   6.909  107394.90  600159
2010-02-10   7.069   7.273   7.355   7.002  232668.55  600159
2010-02-11   7.273   7.210   7.273   7.132  130818.20  600159
2010-02-12   7.273   7.370   7.467   7.215  175243.48  600159
2010-02-22   7.273   7.098   7.278   7.050  151626.24  600159
...            ...     ...     ...     ...        ...     ...
2018-11-19   2.720   2.810   2.950   2.700  127789.00  600159
2018-11-20   2.760   2.630   2.790   2.620   73353.00  600159
2018-11-21   2.630   2.720   2.740   2.600   54679.00  600159
2018-11-22   2.750   2.690   2.790   2.670   31379.00  600159
2018-11-23   2.690   2.540   2.730   2.540   51157.00  600159
2018-11-26   2.570   2.550   2.600   2.520   21020.00  600159
2018-11-27   2.570   2.590   2.600   2.560   16912.00  600159
2018-11-28   2.590   2.630   2.640   2.540   27090.00  600159
2018-11-29   2.640   2.580   2.660   2.560   22133.00  600159
2018-11-30   2.560   2.580   2.590   2.510   23433.00  600159
2018-12-03   2.630   2.630   2.660   2.600   37742.00  600159
2018-12-04   2.630   2.660   2.670   2.620   34256.00  600159
2018-12-05   2.630   2.660   2.700   2.620   32598.00  600159
2018-12-06   2.660   2.630   2.680   2.620   22697.00  600159
2018-12-07   2.630   2.650   2.670   2.620   26963.00  600159
2018-12-10   2.650   2.610   2.660   2.580   19047.00  600159
2018-12-11   2.630   2.610   2.630   2.590   15444.00  600159
2018-12-12   2.600   2.590   2.630   2.580   18440.00  600159
2018-12-13   2.600   2.600   2.630   2.560   33718.00  600159
2018-12-14   2.620   2.550   2.640   2.530   38553.00  600159
2018-12-17   2.540   2.510   2.550   2.480   20362.00  600159
2018-12-18   2.540   2.500   2.550   2.470   15154.00  600159
2018-12-19   2.520   2.540   2.590   2.510   53601.00  600159
2018-12-20   2.550   2.500   2.550   2.470   34442.00  600159
2018-12-21   2.460   2.470   2.490   2.460   13380.00  600159
2018-12-24   2.460   2.470   2.490   2.460   14442.00  600159
2018-12-25   2.460   2.410   2.460   2.330   20584.00  600159
2018-12-26   2.430   2.410   2.440   2.390    9045.00  600159
2018-12-27   2.450   2.370   2.450   2.370   10475.00  600159
2018-12-28   2.370   2.410   2.420   2.370   10437.00  600159

[2181 rows x 6 columns]

In [23]:
# 使用tushare包获取某股票的历史行情数据
df = ts.get_k_data(code='600519', start='2010-01-01')
df.to_csv('./贵州茅台.csv')

# 读取文件数据
data = pd.read_csv('./贵州茅台.csv', index_col='date', parse_dates=['date'])
data.drop(labels='Unnamed: 0', axis=1, inplace=True)

price_last = data['open'][-1]  # 2019年最后一个交易日的开盘价
df = data['2010':'2019']  # 剔除首尾无用的数据

#　Pandas提供了resample函数用便捷的方式对时间序列进行重彩样,根据时间粒度的变大或者变小分为降采样和升采样
df_monthly = df.resample('M').first()
df_yearly = df.resample('Y').last()[:-1]  # 去除最后一年

cost_money = 0  # 基础资金
hold = 0  # 每年持有的股票
for year in range(2010, 2020):
    cost_money -= df_monthly.loc[str(year)]['open'].sum() * 100
    hold += len(df_monthly[str(year)]["open"]) * 100

    if year != 2019:
        cost_money += df_yearly.loc[str(year)]["open"][0] * hold
        hold = 0  # 每年持有的股票

cost_money += hold * price_last

print(cost_money)

558598.7